/* Contains css properties for UserDetails, WorkspaceDetails,Usage */

.input {
    padding: 0.5rem;
    width: 100%;
    box-sizing: border-box;
}

.workspace-input {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.url {
   padding: 0.5rem;
   box-sizing: border-box;
   width: 8rem;
}

.input-div {
    margin: 1.5rem 0;
}

.title {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    font-weight: 600;
}

.sub-title {
    font-size: 0.75rem;
    margin: 0.25rem 0;
    color: #87918a;
}

.label {
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
    margin: 0.5rem 0;
}

.button {
    margin: 0.5rem 0;
    padding: 0.5rem;
    width: 21rem;;
    background-color: #7233de;
    color : #ffffff;
}

.select-usage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
}

.usage {
    margin: 1rem 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 140px;
    border: solid #d6d2d0 1px;
}

.selected {
    border-color: #7233de;
    background-color: #cfcbc0;
}

.tick {
    background-color: #7233de;
    margin: 2rem auto;
    height: 2.5rem;
    width: 2.5rem;
    padding: 0.25rem;
    border-radius: 50%;
}
.tick-mark {
    display: inline-block;
    transform: rotate(45deg);
    height: 2rem;
    width: 1rem;
    border-bottom: 5px solid #fff;
    border-right: 5px solid #fff;
  }