.box {
    box-sizing: border-box;
    margin:auto;
    height : 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem 0;
}

.stage-value {
    width: 0.5rem;
    height: 0.5rem;
    padding: 0.5rem;
    margin : 0 1.5rem;
    border-radius: 100%;
    border: solid black 1px;
    display: flex;
    align-items: center;
}

.current-stage {
   background-color: #7233de;
   color: #fff;
}

.container {
    display: inline-block;
    padding: 0.5rem;
    background-color: #fff;
}

@media only screen and (min-width: 400px) {
    .box {
        height: 80vh;
    }
    .outer {
        background-color: #fff;
        margin: 10vh;
    }
}
